<div class="raa-dialog" [raaTrapFocus]="focusElement">
    <div class="dark-overlay">
        <div class="dialog-container" (raaOutsideClick)="propagateOutsideClick()">
            <div class="ng-content">
                <h3 *ngIf="header" class="header">{{header}}</h3>
                <ng-content></ng-content>
            </div>

            <br>

            <div class="btn-group">
              <button #yesButton *ngIf="yes" (click)="yes()" class="left button-confirm std-width">JA</button>
              <button #noButton *ngIf="no" (click)="no()" class="center button-cancel std-width">NEJ</button>
              <button #okButton *ngIf="ok" (click)="ok()" class="center button-confirm btn-ok std-width">OK</button>
              <button #cancelButton *ngIf="cancel" (click)="cancel()" class="right button-cancel std-width">AVBRYT</button>
            </div>

            <div class="close-container">
                <button *ngIf="close" (click)="close()" class="raa-icon-close close-button"></button>
            </div>
        </div>
    </div>
</div>