<div role="dialog" aria-labelledby="raa-modal-page-header" aria-describedby="raa-modal-page-message" cdkTrapFocus>
  <div class="overlay black-bg-transparent">
    <div
      #content
      tabindex="0"
      class="tw-relative tw-flex-1 tw-max-h-full tw-min-h-0 tw-overflow-auto tw-bg-raa-white tw-rounded tw-outline-none width-inherit max-width-900px box-shadow z-index-99997"
      [ngClass]="{ 'max-width-600px': size === 'small', 'max-width-1400px': size === 'large' }"
      (raaOutsideClick)="propagateOutsideClick()"
    >
      <h1 *ngIf="header" id="raa-modal-page-header" class="tw-heading-lg width-calc-full-minus-4rem tw-my-10 tw-mx-8">
        {{ header }}
      </h1>

      <ng-content id="raa-modal-page-message"></ng-content>
      <div class="tw-absolute tw-top-0 tw-right-0 tw-pr-1 tw-pt-1">
        <button
          type="button"
          *ngIf="close"
          (click)="close()"
          aria-label="stäng"
          class="tw-text-size-1.75 raa-button raa-button-secondary raa-icon-close min-width-auto border-none"
        ></button>
      </div>
    </div>
  </div>
</div>
