@import '../../styles/shared';
@import '../../styles/constants';

.z-index-99997 {
  z-index: $z-index-99997;
}

.width-inherit {
  width: inherit;
}

.min-width-auto {
  min-width: auto;
}

.max-width-600px {
  max-width: 600px;
}

.max-width-900px {
  max-width: 900px;
}

.max-width-1400px {
  max-width: 1400px;
}

.box-shadow {
  box-shadow: #222 2px 2px 10px;
}

.width-calc-full-minus-4rem {
  width: calc(100% - 4rem);
}

.border-none {
  border: none;
}
