<div class="raa-modal-page" raaTrapFocus [hasCloseCrossButton]="onClose !== undefined" >
     <div class="dark-overlay">
        <div class="center-page" [ngClass]="{small: size === 'small', large: size === 'large'}">
            <div>
                <button *ngIf="onClose" (click)="onClose()" class="button-icon close-button">&times;</button>
            </div>
            <h2 *ngIf="header" class="header">{{header}}</h2>
            <ng-content></ng-content>
        </div>
     </div>
</div>

