@import "../../../styles";

.raa-modal-page{

    .dark-overlay{
        position: fixed;
        height: 100%;
        top: 0;
        left:0;
        padding: 0 2rem;
        width: 100%;
        min-height: 100%;
        background-color: rgba(0,0,0,0.5);

        // Chrome har en bugg i sig vilket gör att dialogen inte renderas om inte overflow är synligt och det finns en animation 
        // i child komponenterna (tillexempel en spinner). 
        overflow: auto;

        .center-page{
            $margin-top-bottom: 2rem;
            max-height: calc(100% - #{$margin-top-bottom * 2});
            max-width: 900px;
            overflow-y: auto;
            background: white;
            margin: $margin-top-bottom auto;
            box-shadow: #222 2px 2px 10px;
            border-radius: 2px;

            .close-button{
                float: right;
                width: 25px;
                font-size: 20px;
                padding: 0;
                margin: 1rem;
                height: 24px;
                line-height: 0px;
            }

            .header {
                width: 90%;
                color: $orange-1;
                margin-top: 3rem;
                margin-left: 2rem;
                margin-bottom: 0;
                display: inline-block;

            }

        }

    }

}



@include respond-to(handhelds){
     .raa-modal-page{
        .dark-overlay{
             padding: 0;
             .center-page{
                 width: inherit;
             }
        }
    }
}

@include respond-to(medium-screens){
     .raa-modal-page{
        .dark-overlay{
             padding: 0;
             .center-page{
                 width: inherit;
             }
        }
    }
}




