@import '../../styles/shared';
@import '../../styles/constants';

.z-index-99997 {
  z-index: $z-index-99997;
}

.width-inherit {
  width: inherit;
}

.max-width-600px {
  max-width: 600px;
}

.max-width-900px {
  max-width: 900px;
}

.max-width-1400px {
  max-width: 1400px;
}

.box-shadow {
  box-shadow: #222 2px 2px 10px;
}

.width-calc-full-minus-4rem {
  width: calc(100% - 4rem);
}

// Chrome har fixat till en här buggen nu, tyvärr fungerar inte vårat hack längre vilket betyder att
// på ädlre versioner av chrome kommer felet uppstå men inte på nya...
// Har kvar koden här för tillfället och kan städas bort när det verkar vara lugnt
// transform: translateZ(0); // Tvinga chrome och rendera
