// RAÄ colors
$orange: #C94A18;
$blue: #004E67;
$light-blue: #E1EEF6;
$gray: #DADADA;
$light-gray: #E5E5E5;
$super-light-gray: #f4f4f4;
$yellow: #FFB219;
$done-color: #008578;
$selected-color: #767676;
$selected-hover-color: #BBBABB;
$hover-color: #F4F4F4;
$border-color: #bbbabb;
$error-background-color: #FFBDB3;