@mixin colored-button($color){

    background-color: $color;
    border-color: $color;

    &:hover{
        background-color: darken( $color, 5%);
    }

}

button {

  @include colored-button($orange);

  display: block;
  font-size: 1.25rem;
  color: #fff;
  margin: 0;
  padding: .4rem 1.4rem;
  border: solid 1px $orange;
  border-radius: 2px;

  &:hover{
    cursor: pointer;
  }

  &:disabled {
      background-color: $selected-hover-color;
      border-color: $selected-hover-color;
  }
}

.button-icon {
    background-color: white;
    border-color: white;
    color: $orange;
    min-width: auto;
    padding: .4rem 0.8rem;

    &:hover {
        border-color: $orange;
        background-color: $orange;
        color:white;
    }
}

.button-confirm {
    @include colored-button($done-color)
}

.button-cancel {
    @include colored-button($dark-gray)
}

