////////////////
// RAÄ colors //
////////////////

// Main
$orange-1: #c94a18;
$orange-2: #d98062;
$orange-3: #e3a48f;
$orange-4: #efc8bc;

$blue-1: #00567e;
$blue-2: #5089a4;
$blue-3: #83aabe;
$blue-4: #b4ccd8;

$yellow-1: #ffb219;
$yellow-2: #ffc968;
$yellow-3: #ffd996;
$yellow-4: #ffe9c1;

$green-1: #008578;
$green-2: #55a9a0;
$green-3: #86c1bb;
$green-4: #b6dad6;

$gray-1: #d9d9d6;
$gray-2: #e4e4e2;
$gray-3: #ecebea;
$gray-4: #f4f4f4;

$dark-gray-1: #707372;
$dark-gray-2: #9a9c9c;
$dark-gray-3: #b7b8b8;
$dark-gray-4: #d4d4d4;

// Extrafärger
$black-1: black;
$black-2: #3a3a3a;

$white-1: white;

$red-1: red;
$red-2: #bb4516;

$light-red-1: #ffeeee;
