input[type=text], input[type="tel"], select, textarea {

  width: 100%;
  flex: 1;
  background-color: white;
  border-radius: 2px 0 0 2px;
  border: 1px solid $gray;
  padding: 0.5rem;

  .error &, &.error {
    background-color: #FFEEEE;
  }

  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;

  &.ng-invalid.ng-dirty {
    background-color: $light-red;
  }

}

input[type="checkbox"]{
  &.ng-invalid.ng-dirty {
    border-color: $light-red;
  }
}

.invalid-input-msg{
  color: red;
}


