@import '../../styles/shared';
@import '../../styles/constants';

.z-index-9999 {
  z-index: $z-index-9999;
}

.white-bg-transparent {
  background-color: rgba(white, 0.4);
}

.left-50percent {
  left: 50%;
}

.top-50percent {
  top: 50%;
}

.transform-translate-50-50 {
  transform: translate(-50%, -50%);
}

.font-size-5rem {
  font-size: 5rem;
}
