<div
  #raaSpinner
  class="tw-fixed tw-left-0 tw-top-0 z-index-9999 tw-w-full tw-h-full white-bg-transparent tw-outline-none"
  [cdkTrapFocus]
  tabindex="0"
  aria-describedby="raa-spinner"
  [ngClass]="{ 'tw-absolute': posAbsolute, 'tw-fixed': posFixed }"
>
  <div
    class="tw-absolute
    tw-bg-transparent
    tw-text-center
    left-50percent
    top-50percent
    transform-translate-50-50
    font-size-5rem"
  >
    <div id="raa-spinner" aria-label="Sidan laddas. Var god vänta.">
      <raa-spinner></raa-spinner>
    </div>
  </div>
</div>
