<div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 sm:tw-p-4 tw-bg-raa-white sm:tw-w-auto">
  <div>
    <button class="raa-button skip-link" title="Hoppa över navigationen" (click)="skip($event)">
      Hoppa över navigationen
    </button>
    <a
      class="sm:tw-self-start sm:tw-pl-0 sm:tw-ml-0 md:tw-self-start md:tw-pl-0 md:tw-ml-0 tw-no-underline"
      [routerLink]="['./']"
    >
      <img [src]="logoImageSrc" alt="Logotyp" class="tw-h-10" title="Gå till startsidan" />
    </a>
  </div>

  <nav class="margin-auto-0 lg:tw-block tw-hidden">
    <a
      *ngFor="let route of applicationRoutes"
      class="tw-no-underline tw-border-solid tw-border-transparent tw-border-b-2 tw-rounded tw-cursor-pointer tw-uppercase tw-inline-block tw-text-raa-gray-5 tw-mr-4 tw-px-4 hover:tw-text-raa-gray-6 hover:tw-border-raa-orange-1 transition-all-0-4 letter-spacing-0-5px py-0-3rem"
      [routerLink]="route.link"
      routerLinkActive="tw-border-raa-orange-hover"
    >
      {{ route.name }}
    </a>
  </nav>

  <a
    *ngIf="applicationRoutes.length"
    (click)="toggleMenu()"
    class="tw-select-none tw-cursor-pointer tw-text-size-1.75"
    [ngClass]="{ 'tw-text-raa-orange': !displayMenu, 'tw-text-raa-gray-5': displayMenu }"
  >
    <span class="tw-flex tw-flex-col tw-items-center lg:tw-hidden">
      <span
        [ngClass]="{ 'raa-icon-menu': !displayMenu, 'raa-icon-close': displayMenu }"
        class="tw-text-header raa-icon-menu raa-icon-close"
      ></span>
      <span class="tw-text-size-0.813 tw-font-semibold tw-uppercase">meny</span>
    </span>
  </a>
</div>

<div
  *ngIf="displayMenu"
  class="tw-fixed tw-left-0 tw-w-full tw-h-full z-index-99999 black-bg-transparent lg:tw-hidden sm:tw-block"
>
  <div
    class="app-menu sm:tw-absolute sm:tw-w-full tw-border-raa-gray-3 tw-absolute tw-right-0 tw-bg-raa-white tw-overflow-y-auto tw-p-0 tw-w-full tw-border-t tw-border-solid tw-border-raa-gray-3 min-width-15rem max-height-full-minus-4-5rem z-index-100000"
    (click)="toggleMenu()"
  >
    <nav class="tw-p-0">
      <a
        *ngFor="let route of applicationRoutes"
        class="tw-no-underline tw-block tw-py-4 tw-px-0 tw-text-raa-black-1 tw-text-center tw-uppercase tw-cursor-pointer tw-border-b tw-border-solid tw-border-raa-gray-4 hover:tw-bg-raa-gray-3 transition-all-0-4"
        tabindex="0"
        [routerLink]="route.link"
        routerLinkActive="active-link"
        >{{ route.name }}
      </a>
    </nav>
  </div>
</div>
