@import '../../styles/shared';
@import '../../styles/constants';

.z-index-99999 {
  z-index: $z-index-99999;
}

.z-index-100000 {
  z-index: $z-index-100000;
}

.transition-all-0-4 {
  transition: all 0.4s;
}

.min-width-auto {
  min-width: auto;
}

.min-width-15rem {
  min-width: 15rem;
}

.skip-link {
  position: absolute;
}

.skip-link:not(:focus) {
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.py-0-3rem {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.letter-spacing-0-5px {
  letter-spacing: 0.5px;
}

.max-height-full-minus-4-5rem {
  max-height: calc(100% - 4.5rem);
}

.margin-auto-0 {
  margin: auto 0;
}
