@import '../../styles/shared';
@import '~raa-style/dist/scss/colors';

.height-48px {
  height: 48px;
}

.border-t-solid-1x-raa-gray-2 {
  border-top: solid 1px $raa-gray-2;
}

.border-b-solid-1x-raa-gray-3 {
  border-bottom: solid 1px $raa-gray-3;
}

.min-width-15rem {
  min-width: 15rem;
}

.skip-link {
  position: absolute;
}

.skip-link:not(:focus) {
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.py-0-3rem {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.letter-spacing-0-5px {
  letter-spacing: 0.5px;
}

.max-height-full-minus-4-5rem {
  max-height: calc(100% - 4.5rem);
}

// Får inte tailwind-klasserna att fungera för att skapa detta :´(
.nav-link {
  &:hover,
  &.active-link {
    color: darken($raa-gray-4, 15%);
    border-bottom: solid 2px $raa-orange;
  }
}
