<div class="tw-flex
  tw-flex-row
  tw-items-center
  tw-justify-between
  tw-py-2
  tw-px-4
  tw-bg-raa-white
  sm\:tw-w-auto
  md\:tw-w-auto">

  <div>
    <button class="raa-button skip-link" title="Hoppa över navigationen" (click)="skip($event)">Hoppa över navigationen</button>
    <a class="sm:tw-self-start md:tw-self-start sm:tw-pl-0 sm:tw-ml-0 md:tw-pl-0 md:tw-ml-0 tw-no-underline"
      [routerLink]=" ['./']">
        <img [src]="logoImageSrc"
          class="height-48px"
          alt="Logotyp"
          height="50px"
          title="Gå till startsidan">
    </a>
  </div>

  <nav class="margin-auto-0 lg:tw-block md:tw-hidden sm:tw-hidden">
    <a *ngFor="let route of applicationRoutes"
      class="nav-link
        tw-bg-raa-white
        tw-rounded
        tw-cursor-pointer
        tw-uppercase
        tw-inline-block
        tw-text-raa-gray-4
        tw-border-solid
        tw-no-underline
        tw-border-b-2
        tw-border-transparent
        tw-mr-4
        tw-px-4
        letter-spacing-0-5px
        py-0-3rem"
      [routerLink]="route.link"
      routerLinkActive="active-link">{{route.name}}</a>
  </nav>

  <div class="lg:tw-hidden md:tw-block sm:tw-block">
    <button (click)="toggleMenu()"
      id="menu-button"
      class="raa-button
        raa-button-secondary
        tw-w-auto
        tw-p-2
        tw-text-title
        border-none
        min-width-auto">
      <i class="raa-icon-menu" title="Huvudmeny"></i>
    </button>
  </div>
</div>

<div class="tw-fixed tw-pin-l tw-w-full tw-h-full z-index-99999 black-bg-transparent lg:tw-hidden sm:tw-block md:tw-block"
	*ngIf="displayMenu">
  <div class="app-menu
    sm:tw-absolute
    sm:tw-w-full
    tw-border-raa-gray-2
    tw-absolute
    tw-pin-r
    tw-bg-raa-white
    tw-overflow-y-auto
    tw-p-0
    tw-w-full
    min-width-15rem
    max-height-full-minus-4-5rem
    border-t-solid-1x-raa-gray-2
    z-index-100000"
    (click)="toggleMenu()">
    <nav class="tw-p-0">
      <a *ngFor="let route of applicationRoutes"
        class="tw-no-underline
          tw-block
          tw-py-4
          tw-px-0
          tw-text-raa-black-1
          tw-text-center
          tw-uppercase
          tw-cursor-pointer
          tw-border-raa-gray-3
          border-b-solid-1x-raa-gray-3"
        tabindex="0"
        [routerLink]="route.link"
        routerLinkActive="active-link">{{route.name}}
      </a>
    </nav>
  </div>
</div>
