<div
  [@drawerState]="{
    value: drawerState,
    params: {
      translate: translateAnimation
    }
  }"
  (@drawerState.start)="animationInProgress = true"
  (@drawerState.done)="emitDrawerEvent('animation_done'); animationInProgress = false"
  [ngStyle]="{'zIndex' : zIndex}"
  [ngClass]="{
    'raa-drawer-fullscreen': drawerSize === 'fullscreen',
    'raa-drawer-large': drawerSize === 'large',
    'raa-drawer-medium': drawerSize === 'medium',
    'raa-drawer-small': drawerSize === 'small',
    'raa-drawer-xsmall': drawerSize === 'xsmall',
    'tw-left-0': position === 'left',
    'tw-right-0': position === 'right',
    'tw-invisible': drawerInvisible,
    'tw-border': drawerWindowMode === 'desktop' && (drawerState === 'open' || animationInProgress)
  }"
  class="tw-absolute tw-top-0 tw-bottom-0 tw-h-auto tw-bg-raa-white raa-drawer-unset-min-width tw-border-raa-gray-3 tw-border-t-0"
  role="region"
  aria-label="Sidomeny"
  id="drawer"
  #drawer
>
  <!--För mobiler-->
  <div
    *ngIf="drawerState === 'minimized' && !animationInProgress && minimizedMobileTemplate"
    class="tw-flex tw-justify-between tw-items-center md:tw-hidden tw-cursor-pointer tw-px-4 tw-w-full tw-flex tw-items-center height-10-percent"
    (click)="toggleDrawer()"
  >
    <ng-container *ngTemplateOutlet="minimizedMobileTemplate"></ng-container>
    <button aria-label="Visa information" class="tw-text-center">
      <span class="raa-icon raa-icon-arrow-up tw-text-raa-orange tw-text-size-2.5"></span>
    </button>
  </div>

  <div class="tw-flex tw-flex-col tw-relative tw-h-full">
    <button
      *ngIf="handleIsVisible"
      type="button"
      id="toggle-button"
      [attr.aria-label]="isDrawerOpen() ? 'dölj sidopanel' : 'öppna sidopanel'"
      [ngClass]="{
        'toggle-button-left tw-border-r-0': position === 'right',
        'toggle-button-right tw-border-l-0': position === 'left'
      }"
      class="tw-pointer-events-auto raa-button-focus tw-bg-raa-white md:tw-flex tw-rounded-tr tw-rounded-br tw-flex tw-absolute tw-top-12 tw-justify-center tw-items-center tw-h-12 tw-w-6 tw-border tw-border-raa-gray-3 tw-text-raa-orange tw-cursor-pointer"
      (click)="toggleDrawer()"
    >
      <span
        class="tw-text-size-1.75 tw-transform"
        [ngClass]="{
          'tw-rotate-180': !isDrawerOpen(),
          'raa-icon-arrow-left': position === 'left',
          'raa-icon-arrow-right': position === 'right'
        }"
        aria-hidden="true"
      ></span>
    </button>
    <div
      [@fadeContent]="drawerState"
      [ngClass]="{ 'tw-hidden': (drawerState === 'closed' || drawerState === 'minimized') && !animationInProgress }"
    >
      <ng-content select="[header]"></ng-content>
    </div>

    <div
      [@fadeContent]="drawerState"
      class="tw-h-full tw-bg-raa-white tw-overflow-auto"
      [ngClass]="{ 'tw-hidden': (drawerState === 'minimized' || drawerState === 'closed') && !animationInProgress }"
    >
      <ng-content select="[body]"></ng-content>
    </div>
  </div>
</div>
