@import "../../styles/raa.colors";

.raa-select {
  background-color: inherit;
  display: flex;
  flex-direction: column;

  .active {
    background-color: $dark-gray-1;
    border-color: $dark-gray-1;
  }

  .input-row {
    display: flex;
    flex-direction: row;

    button {
      padding: .4rem .4rem .4rem .4rem;
      border-left: none;
      border-color: $gray-1;
      border-radius: 0 2px 2px 0;
      color: $orange-1;
      background-color: white;
    }

    button:hover {
      background-color: $orange-1;
      color: white;
    }

    input:focus{
      border-radius: 2px 0 0 0;

      & ~ button {
         border-radius: 0 2px 0 0;
      }
    }


  }

  .input-field {
    border-right: none;
  }

  .dropdown {
    position: relative;
    z-index: 1;
    
    ul {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      background-color: white;
      padding: 0;
      margin: 0;
      list-style-type: none;
      border: solid 1px $gray-1;
      border-top: none;
      overflow-y: auto;
      max-height: 17rem;
      border-radius: 0  0 2px 2px  ;

      &.display-top {
        bottom: 2.6rem;
      }
    }

    li {
      .item {
        padding: 0.5rem 0 0.5rem 0;
        margin: 0 1rem 0 1rem;
      }

      &:not(:last-child){
        border-bottom: solid 1px $gray-1;
      }

      &.selectItem {
        background-color: $gray-1;
      }     
    }

    li:hover {
      color: white;
      background-color: $dark-gray-1;
      .item {
        border-color: transparent;
      }
    }
  }
}


:host(.ng-invalid.ng-dirty) {
  input[type="text"]{
    background-color: $light-red;
  }
}

