<div class="raa-select" [ngClass]="{'raa-component-focus': componentHasFocus === true}" [(outsideClick)]="focusLost">
    <div class="input-row">
        <input class="input-field"
            type="text"
            placeholder="{{placeholder}}"
            raaSelectAllOnFocus
            [requestFocus]="setFocusToInputField"
            [disabled]="disabled"
            [(ngModel)]="filterInput"
            (ngModelChange)="onFilterdInputChange()"
            (focus)="focusGained()"
            (click)="openDropdownIfClosed()"
            (keydown)="handleKeyPressed($event)">
        <button class="fa fa-chevron-down square-btn"
            type="button"
            tabIndex="-1"
            [disabled]="disabled"
            [ngClass]="{'active': showDropdown}"
            (click)="toggleDropdown()" >
        </button>
    </div>
    <div class="dropdown" *ngIf="showDropdown">
        <ul [ngClass]="{'display-top': displayTop}">
            <li *ngIf="filteredDomainValues.length === 0">
                <div class="info-element">Ingen träff</div>
            </li>
            <li *ngFor="let item of filteredDomainValues; let rowIndex = index"
              (mouseover)="hoverIndex = rowIndex"
              [ngClass]="{ 'selectItem': item.id === value, 'hoverItem': hoverIndex === rowIndex }">
                <div class="dropdown-item" (click)="select(item)">{{item.displayValue}}</div>
            </li>
        </ul>

    </div>
</div>