<div #raaSelect class="raa-select">
  <div class="raa-select-input-row tw-items-center" [ngClass]="{ disabled: disabled }">
    <input
      [id]="inputElementID"
      class="raa-input raa-select-input tw-z-0"
      [ngClass]="{ 'tw--mr-4': !staticData, 'tw-border-r-0': staticData }"
      #inputField
      type="text"
      [placeholder]="placeholder"
      [requestFocus]="setFocusToInputField"
      [disabled]="disabled"
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="filterInput"
      (ngModelChange)="onFilteredInputChange()"
      (focus)="focusGained()"
      (click)="openDropdownIfClosed()"
      (keydown)="handleKeyPressed($event)"
    />
    <button
      *ngIf="staticData"
      class="raa-select-button raa-icon-arrow-down tw-h-10"
      type="button"
      tabIndex="-1"
      [disabled]="disabled"
      (click)="toggleDropdown()"
      [ngClass]="{ 'active z-index-2': showDropdown }"
    >
      <span class="tw-hidden">Expandera</span>
    </button>

    <raa-spinner *ngIf="showSpinner && !staticData" class="tw-relative right-1rem" size="1rem"></raa-spinner>
  </div>
  <raa-dropdown
    [element]="raaSelect"
    (dropdownMovedUp)="dropdownMovedUp($event)"
    [moveUpHeightThreshold]="120"
    appendToBody="{{ false }}"
    *ngIf="showDropdown"
  >
    <ul
      #dropdown
      (raaOutsideClick)="focusLost()"
      [includedElement]="raaSelect"
      class="raa-select-dropdown"
      [ngClass]="{ 'dropdown-is-above': dropdownIsAbove, 'dropdown-is-below': !dropdownIsAbove }"
    >
      <li *ngIf="staticData && filteredDomainValues.length === 0" role="option" class="raa-select-dropdown-item">
        <span>{{ noAvailableItemsText }}</span>
      </li>
      <li
        #dropdownItem
        class="raa-select-dropdown-item"
        *ngFor="let item of filteredDomainValues; let rowIndex = index"
        (mouseover)="hoverIndex = rowIndex"
        (click)="select(item)"
        [ngClass]="{ selected: item.id === value, hovered: hoverIndex === rowIndex }"
      >
        <span>{{ item.displayValue }}</span>
      </li>
    </ul>
  </raa-dropdown>
</div>
