<div #raaSelect class="raa-select focus-within:tw-shadow-outline tw-rounded">
  <div
    class="raa-select-input-row"
    [ngClass]="{ disabled: disabled }"
    aria-owns="raa-dropdown"
    role="combobox"
    [attr.aria-expanded]="showDropdown"
  >
    <input
      [id]="inputElementID"
      class="raa-input raa-select-input z-index-0"
      #inputField
      type="text"
      autocomplete="off"
      [attr.aria-activedescendant]="activeItem?.id"
      aria-autocomplete="list"
      [placeholder]="placeholder"
      [requestFocus]="setFocusToInputField"
      [disabled]="disabled"
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="filterInput"
      (ngModelChange)="onFilteredInputChange()"
      (focus)="focusGained()"
      (click)="openDropdownIfClosed()"
      (keydown)="handleKeyPressed($event)"
    />
    <button
      class="raa-select-button tw-bg-raa-white tw-text-raa-orange focus:tw-outline-transparent focus:tw-bg-raa-orange focus:tw-text-raa-white"
      type="button"
      aria-controls="raa-dropdown"
      aria-label="expandera"
      [attr.aria-expanded]="showDropdown"
      [disabled]="disabled"
      (click)="toggleDropdown()"
      [ngClass]="{ 'active z-index-2': showDropdown }"
    >
      <span class="raa-select-button-icon raa-icon-arrow-down" [ngClass]="{ 'rotate-180': showDropdown }"></span>
    </button>
  </div>

  <raa-dropdown
    *ngIf="showDropdown"
    [element]="raaSelect"
    (dropdownMovedUp)="dropdownMovedUp($event)"
    [moveUpHeightThreshold]="120"
    appendToBody="{{ false }}"
  >
    <ul
      #dropdown
      (raaOutsideClick)="focusLost()"
      [includedElement]="raaSelect"
      class="raa-select-dropdown"
      id="raa-dropdown"
      role="listbox"
      aria-label="lista"
      [ngClass]="{ 'dropdown-is-above': dropdownIsAbove, 'dropdown-is-below': !dropdownIsAbove }"
    >
      <li *ngIf="filteredDomainValues.length === 0" role="option" class="raa-select-dropdown-item">
        <span>{{ noAvailableItemsText }}</span>
      </li>

      <li
        #dropdownItem
        *ngFor="let item of filteredDomainValues; let rowIndex = index"
        [id]="item.id.toString() + rowIndex"
        role="option"
        class="raa-select-dropdown-item"
        [attr.aria-selected]="item.id === value"
        (mouseover)="hoverIndex = rowIndex"
        (click)="select(item)"
        [ngClass]="{ selected: item.id === value, hovered: hoverIndex === rowIndex }"
      >
        <span aria-hidden="true">{{ item.displayValue }}</span>
        <span class="cdk-visually-hidden">{{ item.displayValue.toLowerCase() }}</span>
      </li>
    </ul>
  </raa-dropdown>
</div>
