@import "../../styles/raa.colors";

$border-color: $gray-1;
$border-size: 1px;
$border-radius-size: 2px;

$button-width: 3rem;
$button-color: $orange-1;
$button-bg-color: white;
$button-hover-color: $button-color;
$button-hover-bg-color: $gray-4;
$button-active-color: $button-color;
$button-active-bg-color: $gray-4;

$dropdown-max-height: 17rem;
$dropdown-bg-color: white;

$dropdown-item-padding: 0.5rem 1rem;

$dropdown-item-hover-color: white;
$dropdown-item-hover-bg-color: $gray-4;

$dropdown-item-selected-bg-color: $gray-4;

.raa-select {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.raa-select-input-row {
  display: flex;
  flex-direction: row;
}

.raa-select-input {
    &::-ms-clear { // Tar bort IE "clear field"-knapp
      display: none;
    }

    position: relative; // Se till att outline
    z-index: 0;         // ligger över knapp

    width: 100%;
    padding: 0.5rem 1rem;

    background-color: transparent;

    border: $border-size solid $border-color;
    border-right: none;
    border-radius: $border-radius-size 0 0 $border-radius-size;

    &.active {
      border-radius: $border-radius-size 0 0 0;
      z-index: 2; // Outline ska hamna över dropdown
    }
  }

:host {
  &.ng-invalid.ng-dirty,
  &.ng-invalid.error {
    .raa-select-input {
      background-color: $light-red-1;
    }
  }
}

.raa-select-input-row {
  &:not(.active):hover {
    background-color: $button-hover-bg-color;
    color: $button-hover-color;
  }

  &.active .raa-select-button {
    color: $button-active-color;
    background-color: $button-active-bg-color;
    border-radius: 0 $border-radius-size 0 0;
  }
}

.raa-select-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $button-width;
  padding: 0;
  border: $border-size solid $border-color;
  border-left: none;
  border-radius: 0 $border-radius-size $border-radius-size 0;
  background-color: transparent;
  color: $button-color;
  cursor: pointer;
}

.raa-select-dropdown-container {
  position: relative;
  z-index: 1;
}

.raa-select-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
  max-height: $dropdown-max-height;
  background-color: $dropdown-bg-color;
  border: $border-size solid $border-color;
  border-top: none;
  border-radius: 0 0 $border-radius-size $border-radius-size;
  box-shadow: 5px 5px 10px -3px $border-color;
}

.raa-select-dropdown-item {
  padding: $dropdown-item-padding;

  &.selected {
    background-color: $dropdown-item-selected-bg-color;
  }

  &.hovered {
    background-color: $dropdown-item-hover-bg-color;
  }
}