:host {
  vertical-align: middle;
}

.spin {
  animation: spinner-spin 2s infinite linear, spinner-delayed-fade-in 400ms 1 ease-in;
}

@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes spinner-delayed-fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
