@import "../../styles/raa.colors";

.raa-ping-service{
    h2 {
        color: $orange-1;
    }

    a {
        color: blue;
        text-decoration: underline;

        &:hover {
            color: darkblue;
            cursor: pointer;
        }
    }
}

