@import '~raa-style/dist/scss/raa-colors';

.mat-expansion-panel-header-title {
  margin-left: 2rem;
  color: $raa-orange !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']):hover {
  background-color: transparent !important;
}

.mat-expansion-panel-header {
  font-size: inherit !important;
  padding: 0 !important;
}
.mat-expansion-panel .mat-expansion-panel-header.cdk-focused:not([aria-disabled='true']) {
  border: 2px solid rgb(255, 178, 25);
  background-color: transparent;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled='true']) {
  border: 2px solid rgb(255, 178, 25);
  background-color: transparent;
}

.mat-expansion-panel {
  display: flex !important;
  flex-wrap: wrap;
}
